/* Navbar.css */

/* General Navbar Styling */
.custom-navbar {
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .brand-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--accent-color);
    transition: color 0.3s ease;
  }
  
  .brand-logo:hover {
    color: var(--primary-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Nav Link Custom Styling */
  .nav-link-custom {
    color: #ffffff;
    font-weight: 600;
    margin: 0 15px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .nav-link-custom:hover {
    color: var(--accent-color);
    transform: translateY(-2px);
  }
  